{% extends "base.html" %}

{% block title %}Events{% endblock title %}

{% block content %}
{% for event in event_list %}
<div class="card">
    <div class="card-header">
        <span class="fw-bold">
            <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
        </span> &middot;
        <span class="text-muted">hosted by {{ event.host.username }} |
            {{ event.date }} | {{ event.location }}</span>
    </div>
    <div class="card-body">
        {{ event.members }}
    </div>
    <div class="card-footer text-center text-muted">
        {% if event.host.pk == request.user.pk %}
        <a href="{% url 'event_edit' event.pk %}">Edit</a>
        <a href="{% url 'event_cancle' event.pk %}">Cancle</a>
        {% endif %}
    </div>
</div>
<br />
{% endfor %}
{% endblock content %}