{% extends "base.html" %}

{% block content %}
<div class="event-entry">
    <h2>{{ event.title }}</h2>
    <p>Host: {{ event.host.username }} | Date: {{ event.date }} | Location: {{ event.location }}</p>
    <p>About the event: </p>
    <p>
        With:
        {% for member in event.member_list.all %}
            {{ member.username }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            No members yet.
        {% endfor %}
    </p>
</div>
<div>
    {% if event.host.pk == request.user.pk %}
    <p><a href="{% url 'event_edit' event.pk %}">Edit</a>
        <a href="{% url 'event_cancle' event.pk %}">Cancle</a>
    </p>
    {% endif %}
    <p>Back to <a href="{% url 'event_list' %}">All Events</a>.</p>
</div>
{% endblock content %}